<template>
  <div id="app">
    {{#isEnabled plugins 'vue-router'}}
    <router-view/>
    {{else}}
    <HelloWorld/>
    {{/isEnabled}}
  </div>
</template>

<script>
{{#isEnabled plugins 'vue-router'}}
{{else}}
import HelloWorld from './components/HelloWorld'

{{/isEnabled}}
export default {
  name: 'App'{{#isEnabled plugins 'vue-router'}}{{else}},{{/isEnabled}}
  {{#isEnabled plugins 'vue-router'}}
  {{else}}
  components: { HelloWorld }
  {{/isEnabled}}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>